<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offers</title>
</head>
<body>
  <h1>Offers</h1>
  <ul>
    <% for (let offer of offers) {%>
    <li><%=offer.place %></li>
    <% } %>
  </ul>
</body>
</html>